body {
  font-family: 'IBM Plex Sans', sans-serif;
}

path { 
  transition: all .25s ease; 
}

h2 {
  margin-top: 10px;
}

h6 {
  margin-bottom: 0;
}

/* Layout */

#visualization {
  display: flex;
  flex-direction: row;
}

#city-info {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Map Styles */

.background {
  fill: none;
  pointer-events: all;
}

#states {
  fill: #aaa;
}

#state-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}